<%
models = @scope_adapter.models
%>

<div id='scopeSelector'>
  <label id='scopeSelectorLabel'>Select the system you want to edit > </label>
  <ul>
  <%models.each do |model|%>
    <%model_name = model.name%>
    <li><%=label_tag model.human_name + ":"%>
      <%=select_tag model_name, 
                    options_for_select(@scope[model_name][:entries].collect{|o| [o.name, o.id]}, @scope[model_name][:selected]),
                    :id => "#{model_name}"
      %>
      <div id="scopeSelectorLinks">
        <% if authorized? :new, model %>
          <%= link_to "Add", rails_admin_new_path(:model_name => mode.name ), :class => "createAssociatedRecord" %>
        <%end%>
        <%if @scope[model_name][:entries].length > 0%>
          <% if authorized? :edit, model %>
            <%= link_to "Edit", rails_admin_edit_path(:model_name => mode.name, :id => @scope[model_name][:selected]), :class => "editRecord" %>
          <%end%>
          <% if authorized? :destroy, model %>
            <%= link_to "Delete", rails_admin_destroy_path(:model_name => mode.name, :id => @scope[model_name][:selected]), :class => "destroyRecord" %>
          <%end%>
        <%end%>
        <%= javascript_tag do %>
          $j(document).ready(function($) {
            $(".createAssociatedRecord").remoteForm({ dialogClass: "createAssociatedRecordDialog" });
          });
        <% end %>
      </div>
    </li>
  <%end%>
  </ul>

  <script>
  jQuery(function(jQuery) {
      jQuery('<%=models.collect{|model| "##{model.name}"}.join(',')%>').change(function() {
          jQuery.ajax({url: '<%= url_for :action => :update_scope %>',
          data: 'selected=' + this.value + '&model=' + this.id,
          dataType: 'text',
          success: function(html){
            jQuery("#scopeSelector").html(html);
            location.reload();
          }})
      });
  });
  </script>
</div>