<%
models = @scope_adapter.models
%>

<div id='scopeSelector'>
  <label id='scopeSelectorLabel'>Select the system you want to edit > </label>
  <ul>
  <%models.each do |model|%>
    <%model_name = model.name%>
    <li><%=label_tag RailsAdmin.config(RailsAdmin::AbstractModel.new(model.name)).label + ":"%>
      <%=select_tag model_name, 
                    options_for_select(@scope[model_name][:entries].collect{|o| [o.name, o.id]}, @scope[model_name][:selected]),
                    :id => "#{model_name}"
      %>
      <% if authorized? :new, nil, model %>
        <%= link_to I18n.t('admin.scope.add'), rails_admin_new_path(:model_name => model.name ), :id => model.name, :class => "createAssociatedRecord" %>
      <%end%>
      <%if @scope[model_name][:entries].length > 0%>
        <% if authorized? :edit, nil, model %>
          <%= link_to I18n.t('admin.scope.edit'), rails_admin_edit_path(:model_name => model.name, :id => @scope[model_name][:selected]), :id => model.name, :class => "createAssociatedRecord" %>
        <%end%>
        <% if authorized? :destroy, nil, model %>
          <%= link_to I18n.t('admin.scope.delete'), rails_admin_delete_path(:model_name => model.name, :id => @scope[model_name][:selected]),  :id => model.name, :class => "createAssociatedRecord" %>
        <%end%>
      <%end%>
      <%= javascript_tag do %>
        $j(document).ready(function($) {
          $("#<%=model.name%>.createAssociatedRecord").remoteForm({ dialogClass: "createAssociatedRecordDialog", elementToUpdate: $("select#<%=model.name%>")});
        });
      <% end %>
  </li>
  <%end%>
  </ul>

  <script>
  jQuery(function(jQuery) {
      jQuery('<%=models.collect{|model| "##{model.name}"}.join(',')%>').change(function() {
          jQuery.ajax({url: '<%= url_for :action => :update_scope, :controller => :main %>',
          data: 'selected=' + this.value + '&model=' + this.id,
          dataType: 'text',
          success: function(html){
            jQuery("#scopeSelector").html(html);
            location.reload();
          }})
      });
  });
  </script>
</div>
