<div id="footer-build-information"><%=Rails.application.class.to_s.split("::").first%> <%=APP_VERSION.to_s%> (<%= t 'about.schema_version' %>: <%= ActiveRecord::Migrator.current_version %>) &bull; <%= t 'about.time_zone' %>: <%= Time.zone %> &bull; <%= t 'about.last_login' %>: <%=current_user.last_sign_in_at.to_formatted_s(:long)%></div>
