<script>


    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }

    DropDown.prototype = {
        initEvents : function() {
            var obj = this;

            obj.dd.on('click', function(event){
                $j(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    $j(function($) {

        var dd = new DropDown( $('#dd') );

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown').removeClass('active');
        });

    });

    $j(function($){
        $(window).resize(function(e){
            placeFooter();
        });
        placeFooter();
        // hide it before it's positioned
        $('#footer').css('display','inline');
    });

    function placeFooter() {
        var windHeight = $j(window).height();
        var footerHeight = $j('#footer').height();
        var offset = parseInt(windHeight) - parseInt(footerHeight);
        $j('#footer').css('top',offset);
    }



    jQuery(document).ready(function ($) {


        $("#accordion").menuAim({
            activate: $.noop,  // fired on row activation
            deactivate: $.noop  // fired on row deactivation
        });


    });
</script>

<script>
    $j.widget( "custom.catcomplete", $j.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
            var that = this,
                    currentCategory = "";
            $j.each( items, function( index, item ) {
                var icons = {
                  'User': '<%=asset_path 'rails_admin/icons/user.png'%>',
                  'Role': '<%=asset_path 'rails_admin/icons/group.png'%>',
                  'Table': '<%=asset_path 'rails_admin/icons/database_table.png'%>',
                  'Field': '<%=asset_path 'rails_admin/icons/table_edit.png'%>',
                  'Status': '<%=asset_path 'admin/status_small.png'%>',
                  'DataViewConnector': '<%=asset_path 'admin/dv360.png'%>',
                  'Modifier': '<%=asset_path 'admin/page_white_ruby.png'%>',
                  'Email': '<%=asset_path 'admin/email.png'%>',
                  'Filter': '<%=asset_path 'rails_admin/icons/table.png'%>',
                  'Screen': '<%=asset_path 'rails_admin/icons/application.png'%>',
                  'Form': '<%=asset_path 'rails_admin/icons/application_form.png'%>',
                  'Layout': '<%=asset_path 'rails_admin/icons/layout_content.png'%>',
                  'HtmlBlock': '<%=asset_path 'rails_admin/icons/html.png'%>',
                  'Style': '<%=asset_path 'rails_admin/icons/style.png'%>',
                  'StatusFlow': '<%=asset_path 'rails_admin/icons/chart_organisation.png'%>',
                  'ScreenFlow': '<%=asset_path 'rails_admin/icons/application_cascade.png'%>',
                  'ServerFlow': '<%=asset_path 'rails_admin/icons/server_go.png'%>',
                  'Metric': '<%=asset_path 'rails_admin/icons/chart_curve.png'%>',
                  'Report': '<%=asset_path 'rails_admin/icons/page_add.png'%>',
                  'Pattern': '<%=asset_path 'rails_admin/icons/page_code.png'%>'

                }
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'><span class='category-img'><img src='" + icons[item.model_name] + "'/></span>" + item.category + "</li>" );
                    currentCategory = item.category;
                }
                that._renderItemData( ul, item );
            });
        }
    });
</script>
<script>
    $j(function() {

        $j( "#global-search input" ).catcomplete({
            delay: 500,
            select: function( event, ui ) {
                window.location = ui.item.url;
            },
            source: function( request, response ) {
                $j.ajax({
                    url: "<%=global_search_path%>",
                    dataType: "json",
                    data: {
                        sort: 'id',
                        sort_reverse: false,
                        all: true,
                        query: request.term
                    },
                    success: function( data ) {
                        response( $j.map( data, function( item ) {
                            return {
                                label: item.label,
                                category: item.category,
                                url: item.url,
                                model_name: item.model_name
                            }
                        }));
                    }
                });
            }
        });
    });
</script>

<div id="header">
  <%= render :partial => 'rails_admin/main/navigation'%>
  <div id="headerLeft">
    <h1 id="logo">
      <%= link_to dashboard_path do %>
          <span class="image_replacement"><%= @plugin_name %></span>
      <% end -%>
    </h1>
  </div>
  <div id="headerRight">
    <%= render(:partial => 'rails_admin/main/user_info', :locals => {:current_user => _current_user}) %>
    <% if @scope_adapter %>
        <%= image_tag('rails_admin/3dots-separator.png', :id => 'separator') %>
        <%= render(:partial => 'rails_admin/extensions/scope/scope_selector') %>
    <% end %>
    <div id='global-search'><input type="text" name="search" value="" size="32" placeholder="<%=t("admin.global_search")%>"></div>
  </div>
</div>