    <script>
      jQuery(document).ready(function($) {
        
        var splitter = $("#splitter").splitter({
            splitVertical: true,
            outline: false,
            sizeLeft: 250,
            minLeft: 150,
            dock: 'left',
            dockSpeed: 1,
            accessKey: "I",
            anchorToWindow: true,
            cookie: "rails-admin-splitter",
            cookiePath: "/",
            eventNamespace: ".rails-admin-splitter"
          });
        
        $("#accordion").accordion(
          {
            navigation: true, 
            fillSpace: true,
            animated: "bounceslide",
            navigationFilter: function(){
              matchKeys = $(this).attr("class")
              if(typeof matchKeys === 'undefined' || matchKeys.length == 0)
                return false;
              matchKeys = matchKeys.split(' ');
              for(var i=0;i<matchKeys.length;i++){
                var regex = new RegExp('/' + matchKeys[i] + 's?\\b', 'i');
                if(this.href.toLowerCase().match(regex) != null)
                  return true;
              }
              return false;
            }
          });

        splitter.bind("dock", function(){
          $("#accordion").hide();
        });

        splitter.bind("undock", function(){
          $("#accordion").show();
        });        

        
        $(window).resize(function(){
            $("#accordion").accordion("resize");
        });


        //highlight selected item in accordion
        $(document).ready(function(){
          $j("#accordion li a").each(function(i, el){
            if(location.href.indexOf($j(el).attr('href').match(/\/\w+(?=\?)/)) >= 0){
              $j(el).addClass("selected");
            }
          })

        })

      });  
    </script>
    <div id="header">     
      <div id="headerLeft">
        <h1 id="logo">
          <%= link_to dashboard_path do %>
            <span class="image_replacement"><%= @plugin_name %></span>
          <% end -%>
        </h1>        
      </div>
      <div id="headerRight">      
        <%= render(:partial => 'rails_admin/main/user_info', :locals => {:current_user => _current_user}) %>        
        <%if @scope_adapter %>
          <%= image_tag('rails_admin/3dots-separator.png', :id => 'separator')%>
          <%= render(:partial => 'rails_admin/extensions/scope/scope_selector')%>
        <%end%>        
      </div>
    </div>