<%head_style "admin/case_center" %>

<% content_for :head do %>
  <title><%= @page_name %> | <%= @plugin_name %></title>
<% end %>
<% content_for :breadcrumb do %>
  <li><%= home_link %></li>
  <li>&rsaquo; <span><%= t('admin.dashboard.name') %></span></li>
<% end %>

<%= render(:partial => 'layouts/rails_admin/head') %>
<body>
  <div id="wrapper">  
    <%= render(:partial => 'layouts/rails_admin/header') %>
    <%if @scope and @scope.length > 0 && @scope[@scope_adapter.models.last.name][:entries].length == 0 %>
      <%= render :partial => 'rails_admin/main/no_content'%>
    <%else%>
    <div id="splitter">
      <%= render :partial => 'rails_admin/main/navigation'%>
      <div id="content">
      <%= yield %>
      </div>
    </div>
    <%end%>
  </div>
</body>
</html>
