<%= stylesheet_link_tag 'application'%>

<div id="main-login">

  <%= form_for(resource, :as => resource_name, :url => [resource_name, :password_expired], :html => { :method => :put }) do |f| %>

      <table class="vedit">
        <tbody>
        <tr>
          <td>
            <div class="head_title">Current Password</div>
            <div class="small">&nbsp;</div><br class="clear">
            <%=f.password_field :current_password, :class => "lg_log", :size => '30'%>
          </td>
        </tr>
        <tr>
          <td>
            <div class="head_title">New Password</div>
            <div class="small">&nbsp;</div><br class="clear">
            <%=f.password_field :password, :class => "lg_log", :size => '30'%>
          </td>
        </tr>
        <tr>
          <td>
            <div class="head_title">Password confirmation</div>
            <div class="small">&nbsp;</div><br class="clear">
            <%=f.password_field :password_confirmation, :class => "lg_log", :size => '30'%>
          </td>
        </tr>
        </tbody></table>

      <div class='button'>
        <%= f.submit "Change my password", :class => "ra-button ui-state-highlight" %>
      </div>
  <% end %>

</div>
