
        <% history.each do |t|%>
        <tr class="<%= cycle 'odd', 'even' %>">
           <td style="text-align: left;padding-right: 15px;width:200px"><%= t.created_at.to_formatted_s(:long)  %></td>
           <td style="text-align: left;padding-right: 15px"><%= t.try(:username)%></td>
           <td style="text-align: left;padding-right: 15px"><%= history_output(t) %></td>
           <td style="text-align: left;padding-right: 15px"><%= t.table %></td> 
        </tr>
        <% end %>