<%
  accordion_navigation = RailsAdmin::Config::Sections::Navigation.accordion_navigation
%>

<div id="accordion">
  <%accordion_navigation[:sections].each do |section|%>
    <%      
      if section[:links] then
        section[:links].delete_if do |link|
          !link[:url_for] or !link[:url_for].include?(:model) or 
          (link[:url_for][:model] != nil && !authorized?(link[:url_for][:action], nil, link[:url_for][:model].singularize.constantize))
        end
      end
      if section[:sections] then
        section[:sections].each do |sub_section|
          sub_section[:links].delete_if do |link|
            !link[:url_for] or !link[:url_for].include?(:model) or 
            (link[:url_for][:model] != nil && !authorized?(link[:url_for][:action], nil, link[:url_for][:model].singularize.constantize))
          end          
        end
      end
    %>
    <%next if section[:links].length == 0 rescue nil && section[:sections].length == 0 rescue next%>
    <h3>
      <%if section[:image] then%>
        <%=image_tag section[:image] %>
      <%end%>
      <%=link_to section[:label],  "#", {:id => "#{section[:label]}_id", :class => section[:match_keys]} %>
    </h3>
    <div>
      <ul>  
          <%if section[:links] then%>      
            <%section[:links].each do |link| %>
              <li>
                <%if link[:url_for] and link[:url_for].include?(:action) and link[:url_for].include?(:model)%>              
                  <%if link[:image] then%>
                    <%=image_tag link[:image] %>
                  <%end%>
                  <%=link_to link[:label], get_url(link[:url_for][:action], link[:url_for][:model], :anchor => link[:label])%>
                <%end%>
              </li>
            <%end%>
          <%end%>
          <%if section[:sections] then%>
            <%section[:sections].each do |sub_section|%>
              <%if sub_section[:links].size > 0%>
                <li>
                <%=image_tag sub_section[:image]%>
                <%=link_to sub_section[:label],  "#" %>
                <%sub_section[:links].each do |link| %>
                </li>
                  <ul>
                  <li>
                    <%if link[:url_for] and link[:url_for].include?(:action) and link[:url_for].include?(:model)%>              
                      <%if link[:image] then%>
                        <%=image_tag link[:image]%>
                      <%end%>
                      <%=link_to link[:label], get_url(link[:url_for][:action], link[:url_for][:model], :anchor => link[:label])%>
                    <%end%>
                  </li>
                  </ul>
                <%end%>
              <%end%>            
            <%end%>
          <%end%>
        </ul>
    </div>
  <%end%>
</div>
