-roles_collection = [['- Any Role - ', 0]]
-@all_roles.each do |role|
  -roles_collection.push( [role.name, role.id] )

-users_collection = []
-@all_users.each do |user|
  -users_collection.push( [user.email, user.email] )

-users_collection_json = {}
-@all_users.each do |user|
  -users_collection_json[user.id] = user.email

-role_users_collection = {}

-@all_roles.each do |role|
  -role_users_collection[role.id] = role.user_ids
  
= form_tag('/admin/user/bulk_properties?'+'Application='+params[:Application]+'&Company='+params[:Company]+'&locale=en', method: :put, :class => "form-horizontal denser") do
  %fieldset
    <span class="col-sm-2"><label class="control-label" for="role_select" style="float: right;">Filter users by role</label></span>
    %div{:class => "col-sm-10"}
      =select "email", "role_select", roles_collection, { id: "role_select",  include_blank: true, selected: 0 }
      %button{ :onclick => "refresh_user_list();", :type => "button", :class => "btn btn-primary"} Refresh user list   
    <p></p>
    <br>
    <br>
    <br>
    <br>
    <span class="col-sm-2" > <label class="control-label" for="userEmails" style="float: right;" >Select users</label> </span><span class="col-sm-1" , id="padding_span", style="padding-right:0px;"></span>
    %div{:class => "col-sm-9"}
      %div{:class => "form-group control-group has_and_belongs_to_many_association_type roles_field"}
        =select "", "userEmails", users_collection, { id: "userEmails", name: "userEmails", selected: [171] }, {data: { filteringmultiselect: true  }, multiple: true}
    <br>
    <br>
    <div class="col-sm-12" style="height:30px;">  </div>
    - if @all_properties.size > 0
      <span class="col-sm-2"> <label class="control-label" style="float: right;">User Properties to update</label> </span>
      %div{:style => "height: 20px;"}
      %div{:class => "col-sm-10"}
        %div
          -@all_properties.each do |prop|
            %div{:style => "margin-bottom: 5px"}
              %input{:name => "prop"+prop.name+"checkbox", :type => "hidden", :value=>''}
              %label{:style => "display:block; font-size:14px;"} #{prop.name}
              %div
                %input{:name => "prop"+prop.name, :type => "text", :class => "form-control", :id => "prop"+prop.name, :style => "display:inline; vertical-align:bottom;" }
                %input{:name => "prop"+prop.name+"checkbox", :type => "checkbox", :class => "form-control",  :id => "prop"+prop.name+"checkbox", :style => "display:inline; vertical-align:middle;" }
    - else
      <div class="col-sm-11" style="text-align:center; "> <h4> No user properties to update </h4> </div>
    <div class="col-sm-12" style="height:20px;">  </div>
  = render "rails_admin/main/bulk_properties_submit_buttons"


:javascript
  $("#email_role_select").filteringSelect();
  rubyModel = "none";

  $("#_userEmails").filteringMultiselect( { "xhr": false,  "edit-url":"",  "sortable":false,  "removable":true,   "cacheAll":true, "regional":{"chooseAll":"Choose all", "chosen":" Chosen Roles", "clearAll":"Clear all", "search" : "Search", "up":"Up", "down":"Down"}} );
  
  $("#padding_span").css({ 'width' : '5px' });

  var users_select = document.querySelector("#_userEmails");
  var all_users_options = users_select.innerHTML;


  function refresh_user_list(){
    
    left_select_box = document.querySelector(".ra-multiselect-left > div > select");
    left_select_box.innerHTML = ""
    
    right_select_box = document.querySelector(".ra-multiselect-right > div > select");
    right_select_box.innerHTML = ""
    
    selected_role_id = document.querySelector("#email_role_select").selectedOptions[0].value;

    if ( selected_role_id == "0" ){
      users_select.innerHTML = all_users_options;
      left_select_box.innerHTML = all_users_options;
      return;
    }

    var role_users_collection = #{ role_users_collection.to_json };
    var users_collection = #{ users_collection_json.to_json };
    new_user_list_options =  "";    
    var selected_users = role_users_collection[selected_role_id];

    Object.keys(users_collection).forEach(function (key) { 
      var value = users_collection[key]
      if ( selected_users.includes(parseInt(key)) ) {
        new_user_list_options = new_user_list_options + "<option value='" + value+ "' title='" + value + "'>" + value + "</option> ";
      }
    })

    users_select.innerHTML = new_user_list_options;
    left_select_box.innerHTML = new_user_list_options;
   

  }



