<html>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .ui-widget-content {
            color: #4F4F4F;
        }

        .ui-widget {
            font-family: Arial,sans-serif;
            font-size: 1.1em;
        }

        input.ui-button {
            height: 28px !important;
            padding-bottom: 7px !important;
            padding-top: 5px !important;
        }

        input.ui-button, .ui-button-text-only .ui-button-text  {
            font-family: Helvetica,Arial,sans-serif !important;
            font-size: 14px !important;
        }

        input.ui-button {
            font-size: 14px;
            font-weight: bold;
            height: 33px;
            padding: 0 1em !important;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        }

        .ui-button {
            -moz-transition: -moz-box-shadow 0.25s ease-in-out 0s;
        }

        .ui-button {
            -moz-user-select: none;
            cursor: pointer;
            display: inline-block;
            margin-right: 0.1em;
            overflow: visible;
            padding: 0;
            position: relative;
            text-align: center;
            text-decoration: none !important;
        }
        .ui-corner-all {
            border-radius: 3px 3px 3px 3px;
        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            background: -moz-linear-gradient(center top , #EDEDED, #C4C4C4) repeat scroll 0 0 transparent;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            border: 1px solid #B6B6B6;
            color: #4F4F4F;
            font-weight: normal;
        }

        .ui-widget {
            font-family: Arial,sans-serif;
            font-size: 1.1em;
        }
    </style>

    <script type="text/javascript">
        function on_upload_submit()
        {
            v = document.getElementById('system_import_upload_file').value;
            if(v == undefined || v === '')
            {
                alert("<%=t('admin.import_export.missing_file')%>");
                return false;
            }

            document.getElementById('uploading').style.display = 'block';
            document.getElementById('upload_form').style.display = 'none';
            return true;
        }
    </script>
<body>
    <div id="uploading" class="ui-widget-content" style="display:none;"><%=t('admin.import_export.uploading_wait')%></div>
    <form action="<%=system_import_path(@model_name)%>" enctype="multipart/form-data" method="POST" id="upload_form">
        <input type="hidden" name="mode" value="upload_file"/>
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
        <table style="border-collapse:collapse;" class="ui-widget-content">
          <tr>
            <td style="width:120px"><%=t('admin.import_export.import_file')%></td>
            <td style="width:300px"><input type="file" size="32" name="import_file" style="width:290px" id="system_import_upload_file"/></td>
            <td style="width:100px"><input type="submit" value="<%=t('admin.import_export.upload')%>" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="system_import_upload_submit" onclick="return on_upload_submit();"/></td>
          </tr>
        </table>
    </form>
</body>
</html>

