<html>
<body>
    <% if @error %>
        <script type="text/javascript">
          alert("<%=@error-%>");
          window.parent.$j('div.createAssociatedRecordDialog').data("dialog").close();
        </script>
    <%else%>
        <script type='text/javascript'>
            window.parent.$j('#system_import_upload_form').hide();
            window.parent.$j('#system_import_upload_attrs').show();
            window.parent.$j('#system_import_upload_attrs input[name=company_key]').val("<%=@import_details[:company_key]-%>")
            window.parent.$j('#system_import_upload_attrs input[name=company_name]').val("<%=@import_details[:company_name]-%>")
            window.parent.$j('#system_import_upload_attrs input[name=application_key]').val("<%=@import_details[:application_key]-%>")
            window.parent.$j('#system_import_upload_attrs input[name=application_name]').val("<%=@import_details[:application_name]-%>")
            <% unless current_user.is_root? %>
                window.parent.$j('#system_import_upload_attrs input[name=company_key]').prop('readonly', 'readonly');
                window.parent.$j('#system_import_upload_attrs input[name=company_name]').prop('readonly', 'readonly');
            <%end%>
        <%end%>
    </script>
</body>
</html>
