<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : Rails.application.class.to_s.split("::").first %></title>
    <%= stylesheet_link_tag 'application'%>    
    <%= javascript_include_tag 'rails_admin/jquery-1.9.1.min.js' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash-#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
